/* Importa as fonts do google */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Licorice&family=Playwrite+DE+SAS:wght@100..400&display=swap');
.playwrite-de-sas-400{
    font-family: 'Playwrite DE SAS', cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.licorice-regular {
    font-family: "Licorice", cursive;
    font-weight: 400;
    font-style: normal;
}
/* variáveis */
:root, [data-sm-theme=ligth]{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    --cor_principal: #3e7509;
    --cor_secundaria: #c5e270;
    --cor_auxiliar1: #70dc0f;
    --cor_auxiliar2: #c0b583;
    --cor_auxiliar3: #adc096;
    --cor_auxiliar4: #ffffff;
    --cor_auxiliar5: #000000;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor_auxiliar5);
}
body{
    scroll-behavior: smooth;
}
.esconde{
    display: none;
}
a{
    text-decoration: none;
}
a:visited{
    color: inherit;
    
}
a:focus{
    background-color: var(--cor_auxiliar2);
}
a:hover{
    background-color: var(--cor_principal);
}
/* verificar por que não funcionou */
body{
    min-width: 700px;
    min-height: 400px;
}
/* Cabeçalho */
header{
    position: fixed;
    top: 0;
    width: 100vw;
}
.header_shadown{
    box-shadow: 5px 2px 15px red;
}
header#header_page{
    padding-top: 0.7rem;
    height: 2rem;
    background-color: var(--cor_principal);
}
nav#nav_header_top{
    display: flex;
    justify-content: end;
}
nav#nav_header_top > ul{
    display: flex;
    gap: 1rem;
}
nav#nav_header_top > ul li{
    list-style: none;
}
a.nav_menu_top_item{
    padding: 0.25rem;
}
a.nav_menu_top_item{
    text-decoration: none;
    color: var(--cor_auxiliar5);
}
a.nav_menu_top_item:hover{
    color: var(--cor_auxiliar4);
    background-color: var(--cor_auxiliar5);
    border-bottom: solid 0.2rem var(--cor_auxiliar3);
    transition: all cubic-bezier(0.895, 0.03, 0.685, 0.22) 1s;
}
a.nav_menu_top_item[href="#"]:hover{
    color: var(--cor_auxiliar5);
    background-color: #dfd7d7;
}
/* Conteúdo Principal */
hr.hr_left_right{
    height: 0.5rem;
    background: linear-gradient(to right, var(--cor_secundaria) 30%, var(--cor_principal) 70%);
    border-style: none;
}
hr.hr_right_left{
    height: 0.5rem;
    background: linear-gradient(to left, var(--cor_secundaria) 30%, var(--cor_principal) 70%);
    border-style: none;
}
/* main#main_page{*/
img#logo_page{
    z-index: 100;
    width: auto;
    height: auto;
    max-width: 10rem;
    max-height: 10rem;
    position: fixed;
    right: 1rem;
    bottom: 3.5rem;
}
main section.impar{
    background: radial-gradient(circle, var(--cor_auxiliar3) 0% , var(--cor_auxiliar2) 50% , var(--cor_auxiliar1) 100%);
}
main section.par{
    background: radial-gradient(circle, var(--cor_auxiliar1) 0% , var(--cor_auxiliar2) 50% , var(--cor_auxiliar3) 100%);
}
section[id]{
    height: calc(100vh - 2rem);
    padding-top: 2rem;
}
section[id]:last-child{
    height: calc(100vh - 6rem);
}
/* continuar daqui */
.div_main_page{
    width: 90vw;
    margin: auto;
}
.main_page_publishes{
    display: grid;
    row-gap: 2rem;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr);
    width: inherit;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-items: center;
}
.main_page_articles{
    display: grid;
    row-gap: 2rem;
    grid-template-rows: repeat(6,1fr);
    width: inherit;
}
section#div_main_page{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
section#div_main_contacts form{
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
input[type]{
    border-radius: 15px;
    box-shadow: 5px 2px 15px var(--cor_auxiliar2);
    height: 2rem;
    padding: 0.5rem;
}
input[type='submit'], input[type='reset']{
    height: 1.5rem;
    width: 5rem;
    padding: 0;
}
textarea{
    border-radius: 15px;
    box-shadow: 5px 2px 15px var(--cor_auxiliar2);
    height: 5rem;
    padding: 0.5rem;
}
#imagem_principal{
    border-radius: 15px;
    box-shadow: 5px 2px 5px 2px var(--cor_auxiliar2);
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    height: auto;
}
:root{
    --hue_base: 0;
    --saturation_base: 23%;
    --ligth-base: 94%;
    --alpha-base: 0.234;
}
.card{
    display: flex;
    flex-direction: column;
    width: 10rem;
    height: 17rem;
    border-style: outset;
    border-radius: 1rem;
    background-color: hsla(var(--hue_base), var(--saturation_base), var(--ligth-base), var(--alpha-base));
}
.pub{
    padding: 0.5rem;
    border-style: none;
    --alpha-base: 0.3;
    font-size: 0.8rem;
}
.pub > img{
    border-radius: 0.5rem;
    margin-bottom: 0.3rem;
    width: 180px;
    height: 230px;
}
/* Rodapé */
footer#footer_page{
    display: flex;
    justify-content: center;
    height: 3rem;
}
footer.msg_footer{
    display: flex;
}
/* tema escuro */
[data-sm-theme=dark]{
    --cor_principal: #0d1902;
    --cor_secundaria: #4c562c;
    --cor_auxiliar1: #274b07;
    --cor_auxiliar2: #484431;
    --cor_auxiliar3: #30362a;
}
@media screen and (max-width: 1120px) {
    .main_page_publishes{
        grid-template-columns: repeat(4,1fr);
        height: fit-content;
        gap: 0.3rem
    }
    .pub{
        font-size: 0.5rem;
    }
    .pub > img{
        width: 140px;
        height: 160px;
    }
    .card{
        width: 8rem;
        height: 12rem;
    }    
}
@media screen and (max-width: 870px){
    main > section > h1 {
        font-size: 30px;
    }
    *{
        font-size: 10px;
    }
    img#logo_page{
        max-width: 6rem;
        max-height: 6rem;
    }
    #imagem_principal{
        max-width: 10rem;
        max-height: 10rem;
    }
    .main_page_publishes{
        grid-template-columns: repeat(3,1fr);
    }
}
@media screen and (max-width: 710px){
    main > section > h1{
        font-size: 20px;
    }
        img#logo_page{
        max-width: 4rem;
        max-height: 4rem;
    }
    #imagem_principal{
        max-width: 6rem;
        max-height: 6rem;
    }
    .main_page_publishes{
        grid-template-columns: repeat(3,1fr);
        gap:0.3rem
    }    
}