/* Importa as fonts do google */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Licorice&family=Playwrite+DE+SAS:wght@100..400&display=swap');

.playwrite-de-sas-400{
    font-family: 'Playwrite DE SAS', cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.licorice-regular {
    font-family: "Licorice", cursive;
    font-weight: 400;
    font-style: normal;
}
/* variáveis */
:root{
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    --cor_principal: #3e7509;
    --cor_secundaria: #c5e270;
    --cor_auxiliar1: #70dc0f;
    --cor_auxiliar2: #c0b583;
    --cor_auxiliar3: #adc096;
}
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* verificar por que não funcionou */
body{
    min-width: 700px;
    min-height: 400px;
}
/* Cabeçalho */
header#header_page{
    padding-top: 0.7rem;
    height: 2rem;
    background-color: var(--cor_principal);
}
nav#nav_header_top{
    display: flex;
    justify-content: end;
}
nav#nav_header_top > ul{
    display: flex;
    gap: 1rem;
}
nav#nav_header_top > ul li{
    list-style: none;
}
a.nav_menu_top_item{
    padding: 0.25rem;
}
a.nav_menu_top_item{
    text-decoration: none;
    color: #000 ;
}
a.nav_menu_top_item:hover{
    color: #fff;
    background-color: #000;
}
/* Conteúdo Principal */
hr.hr_left_right{
    height: 0.5rem;
    background: linear-gradient(to right, var(--cor_secundaria) 30%, var(--cor_principal) 70%);
    border-style: none;
}
hr.hr_right_left{
    height: 0.5rem;
    background: linear-gradient(to left, var(--cor_secundaria) 30%, var(--cor_principal) 70%);
    border-style: none;
}
main#main_page{
    background-image: url("/assets/img/grasshopper.png");
    background-size: 10rem;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}
.main_page_sections{
    height: calc(100vh - 6rem);
}
section#div_main_page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin: auto;
}
#imagem_principal{
    border-radius: 15px;
    box-shadow: 5px 2px 5px 2px var(--cor_auxiliar2);
}

/* Rodapé */
footer#footer_page{
    display: flex;
    justify-content: center;
    height: 3rem;
}
footer.msg_footer{
    display: flex;
}